* {
  box-sizing: border-box;
  color: #f5f5f5;
}

#main {
  background: #212121;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: calc(100vh - 20px);
  grid-template-areas: "editor preview" "footer footer";
  overflow: hidden;
}

.title {
  padding-left: 0.5em;
  height: 25px;
  line-height: 25px;
  font-size: 18px;
  background: #424242;
  margin: 0;
}